.wrapper {
    background : url("../pictures/screen1.png") center;
    background-size : cover;
    height : 100vh;
    width: 100%;
    display: flex;
    position: relative;
    transition: 700ms;
    box-shadow: -1px -34px 32px 2px rgba(22, 137, 228, 0.4) inset,
                -6px 4px 4px 0px rgba(22, 137, 228, 0.5)
}
