.mainStylesTitle {
    font-weight: 400;
    transition: 0.8s;
    font-size: 52px;
    z-index: 1;
    white-space: pre;
}

/*----------------STYLES--FOR--SCREEN------------*/

.mainStylesTitle.ScreenOne {
    padding-top: 130px;
    padding-left: 70px;
    color: #11319A;
    transition: 1s;
}

.mainStylesTitle.ScreenTwo {
    text-align: center;
    font-family: "GhotamLight";
    margin-left: 120px;
    margin-bottom: 300px;
}

/*----------------STYLES--FOR--SLIDEPAGES------------*/

.mainStylesTitle.SliderPages{
    padding-top: 11%;
    padding-left: 80px;
    font-size: 30px;
    transition: 800ms;
}