.wrapper {
    background-position : center;
    background-size : cover;
    min-width: 100%;
    transition: 800ms;
}

.title {
    font-weight: 400;
    padding-top: 11%;
    padding-left: 80px;
    font-size: 30px;
    transition: 800ms;
}
/*----------------STYLES--FOR--SLIDEPAGES------------*/
.SlideOne {
    background-image: url("../../pictures/SliderScreenOne.png");
    order: 1;
}
.SlideTwo {
    background-image: url("../../pictures/SliderScreenTwo.png");
    order: 0;
}
.SlideThree {
    background-image: url("../../pictures/SliderScreenThree.png");
    order: -1;
}
