.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap : wrap;
    position: absolute;
    left: 0;
    bottom: 3%;
    width: 100%;
}

.switcher {
    opacity: 0.9;
    outline: none;
    height: 15px;
    width: 63%;
    -webkit-appearance: none;
    appearance: none;
}

.switcher:hover{
    opacity: 1
}

.dataElements {
    width: 63%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 3%;
}

.switcher::-webkit-slider-thumb{
    background-image: url("../../pictures/ice_toggle.png");
    -webkit-appearance: none;
    appearance: none;
    width: 87px;
    height: 111px;
    cursor: pointer;
}

.switcher::-moz-range-thumb {
    background-image: url("../../pictures/ice_toggle.png");
    -webkit-appearance: none;
    appearance: none;
    width:87px;
    height:111px;
    cursor:pointer;
    transition: all 1s;
}


